[submodule "app/wordpress"]
	path = app/wordpress
	url = https://github.com/WordPress/WordPress.git
[submodule "app/wp-content/themes/gutsThemeStarter/fonts/genericons"]
	path = app/wp-content/themes/gutsThemeStarter/fonts/genericons
	url = https://github.com/Automattic/Genericons
