#################
## Guts Custom
#################
node_modules
bower_components
.sass-cache
app/.htaccess
app/wordpress
app/wp-config.php
app/wp-config-sample.php
app/index.php
sitemap.xml
sitemap.xml.gz

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

